<template>
  <div>
    <p>{{ $t("hello", { name }) }}</p>
    <p>{{ $t("goodbye") }}</p>
    <p>{{ $t("email", { email }) }}</p>
    <p>{{ $tc("car", 0) }}</p>
    <p>{{ $tc("car", 1) }}</p>
    <p>{{ $tc("car", 20) }}</p>
    <button @click="setLocale('en')">English</button>
    <button @click="setLocale('ru')">Russian</button>
    <button @click="setLocale('de')">German</button>
  </div>
</template>

<script>
export default {
  name: "HelloI18n",
  data: () => ({
    name: "Max",
    email: "example@mail.com"
  }),
  methods: {
    setLocale(locale) {
      this.$i18n.locale = locale;
      localStorage.setItem("locale", locale);
    }
  }
};
</script>
